

.en{
    width: 85.5%;
    padding: 1em;
    background-color: #f3f3f3;
    padding-bottom: 5em;
}

.top h2{
    color: #2F70AF;
    font-size: 1.5em;
}


@media only screen and (max-width:768px){
    .top{
        width: 100%;
        padding-bottom: 2em;
    }
}
